.btn-primary {
    background-color: #003056 !important;
    color: #fff !important;
    border-radius: 20px;
    border: none;
    font-size: 1.6rem;
    padding: 1.2rem 0;
}

/* Unterer Button: Weiß mit blauem Rand und blauer Schrift */
.btn-outline-primary {
    background-color: #fff !important;
    color: #003056 !important;
    border: 2px solid #003056 !important;
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 1.2rem 0;
}

/* Optional: Hover-Effekt für Outline-Button */
.btn-outline-primary:hover {
    background-color: #003056 !important;
    color: #fff !important;
}

.text-muted {
    font-size: 1.5rem;
}